* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(138, 138, 138);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.clock {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #f0f0f0;
    border: 15px solid rgb(223, 223, 223);
    box-sizing: border-box;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.hour {
    --rotation: 0deg;
    width: 15px;
    height: 100px;
    background-color:  rgb(233, 233, 233);
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) rotate(var(--rotation));
    transform-origin: center bottom;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.minute {
    --rotation: 0deg;
    width: 10px;
    height: 140px;
    background-color:rgb(233, 233, 233);
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) rotate(var(--rotation));
    transform-origin: center bottom;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.second {
    --rotation: 0deg;
    width: 3px;
    height: 180px;
    background-color: rgb(233, 233, 233);
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) rotate(var(--rotation));
    transform-origin: center bottom;
}

.center_dot {
    background-color: rgb(22, 223, 223);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}

.number {
    display: flex;
    height: 370px;
    width: 370px;
    padding-top: 5px;
    justify-content: center;
    color: rgb(223, 223, 223);
    position: absolute;
    font-size: 2rem;
}

.dot_1 {
    transform: rotate(30deg);
}

.dot_2 {
    transform: rotate(60deg);
}

.dot_3 {
    transform: rotate(90deg);
}

.dot_4 {
    transform: rotate(120deg);
}

.dot_5 {
    transform: rotate(150deg);
}

.dot_6 {
    transform: rotate(180deg);
}

.dot_7 {
    transform: rotate(210deg);
}

.dot_8 {
    transform: rotate(240deg);
}

.dot_9 {
    transform: rotate(270deg);
}

.dot_10 {
    transform: rotate(300deg);
}

.dot_11 {
    transform: rotate(330deg);
}