* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(138, 138, 138);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.clock {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #d8fffb;
    border: 15px solid #14B9A5;
    box-sizing: border-box;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.hour {
    width: 15px;
    height: 100px;
    background-color:  darkslategray;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    /* transform: rotate(0deg); */
    transform-origin: center bottom;
}

.minute {
    width: 10px;
    height: 150px;
    background-color:darkolivegreen;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
}

.second {
    width: 5px;
    height: 180px;
    background-color: fuchsia;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
}

.center_dot {
    background-color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}

.number {
    display: flex;
    height: 370px;
    width: 370px;
    padding-top: 5px;
    justify-content: center;
    color: indigo;
    position: absolute;
    font-size: 2rem;
}

.dot_1 {
    transform: rotate(30deg);
}

.dot_2 {
    transform: rotate(60deg);
}

.dot_3 {
    transform: rotate(90deg);
}

.dot_4 {
    transform: rotate(120deg);
}

.dot_5 {
    transform: rotate(150deg);
}

.dot_6 {
    transform: rotate(180deg);
}

.dot_7 {
    transform: rotate(210deg);
}

.dot_8 {
    transform: rotate(240deg);
}

.dot_9 {
    transform: rotate(270deg);
}

.dot_10 {
    transform: rotate(300deg);
}

.dot_11 {
    transform: rotate(330deg);
}