* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(138, 138, 138);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.clock {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #d8fffb;
    border: 15px solid #14B9A5;
    box-sizing: border-box;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.hour {
    width: 15px;
    height: 100px;
    background-color:  darkslategray;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
}

.minute {
    width: 10px;
    height: 150px;
    background-color:darkolivegreen;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
}

.second {
    width: 5px;
    height: 180px;
    background-color: fuchsia;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
}

.center_dot {
    background-color: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}

.number {
    color: indigo;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 2rem;
    height: 400px;
    width: 400px;
    padding-top: 10px;
    box-sizing: border-box;
}

.num_3 {
    transform: translate();
    transform: rotate(90deg);
    transform-origin: bottom;
}

.num_3 h2 {
    transform: rotate(-90deg);
}