* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(138, 138, 138);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.clock {
    width: 300px;
    height: 300px;
    back rgba(255, 255, 255, 0.85);
    border-radius: 50%;
    border: cyan solid 5px;
}

